
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<form method="post" action="Create">
    <div class="form-group row">
        <label for="musteri_adi" class="col-4 col-form-label">Müsteri Adı</label>
        <div class="col-8">
            <input id="musteri_adi" name="musteri_adi" type="text" class="form-control">
            <span validatin
        </div>
    </div>
    <div class="form-group row">
        <label for="musteri_adres" class="col-4 col-form-label">Müsteri Adresi</label>
        <div class="col-8">
            <input id="musteri_adres" name="musteri_adres" type="text" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <label for="musteri_kul" class="col-4 col-form-label">Müsteri Kullanıcı Adı</label>
        <div class="col-8">
            <input id="musteri_kul" name="musteri_kul" type="text" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <label for="musteri_sifresi" class="col-4 col-form-label">Müşteri Şifresi</label>
        <div class="col-8">
            <input id="musteri_sifresi" name="musteri_sifre" type="text" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <div class="offset-4 col-8">
            <button name="submit" type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>