
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@Html.Partial("_mesajpartial")
<form method="post" action="Index">
   
   
    <div class="form-group row">
        <label for="musteri_kul" class="col-4 col-form-label">Müsteri Kullanıcı Adı</label>
        <div class="col-8">
            <input id="musteri_kul" name="musteri_kul" type="text" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <label for="musteri_sifresi" class="col-4 col-form-label">Müşteri Şifresi</label>
        <div class="col-8">
            <input id="musteri_sifresi" name="musteri_sifre" type="text" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <div class="offset-4 col-8">
            <button name="submit" type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>